{{! ❌ NE PAS MODIFIER POUR L'EVALUATION }}

<div
  class="bg-white relative flex items-center justify-center overflow-hidden z-50" 
>
  <div
    class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xxl lg:px-8"
  >
    <div class="flex flex-col items-center justify-between lg:flex-row py-16">
      <div class="relative">

        <div class="lg:max-w-xl lg:pr-5 relative z-40">

          <h1
            class="mb-8 max-w-xl text-5xl font-light leading-snug tracking-tight text-g1 sm:text-7xl sm:leading-snug"
            data-test-id="home-title"
          >
            Découvrir le Tarn

            <span
              class="my-1 inline-block border-b-8 border-g4 bg-white px-4 font-bold text-g4 animate__animated animate__flash"
            >à pied</span>
          </h2>
          <p class="text-base text-gray-700">
            Découvrez les plus belles randonnées du Tarn, entre forêts, rivières
            et villages pittoresques. Des vignobles de Gaillac à la montagne
            Noire, en passant par les villages médiévaux de Cordes-sur-Ciel et
            Puycelsi, le Tarn est un département aux paysages variés qui se
            découvre mieux à pied.
          </p>
          <div class="mt-10 flex flex-col items-center md:flex-row">
            <a
              href="/randonnees"
              class="mb-3 inline-flex h-12 w-full items-center justify-center rounded bg-green-600 px-6 font-medium tracking-wide text-white shadow-md transition hover:bg-blue-800 focus:outline-none md:mr-4 md:mb-0 md:w-auto"
            >
              Voir les randonnées</a>

          </div>
        </div>

      </div>
      <div class="relative hidden lg:ml-32 lg:block lg:w-1/2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="my-6 mx-auto h-10 w-10 animate-bounce rounded-full bg-white p-2 lg:hidden"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16 17l-4 4m0 0l-4-4m4 4V3"
          ></path>
        </svg>
        <div
          class="abg-orange-400 mx-auto w-fit overflow-hidden rounded-[6rem] rounded-br-none rounded-tl-none"
        >
          <img src="/img/tarn.jpg" />
        </div>
      </div>
    </div>
  </div>

</div>