{{! ✅ Fichier à modifier pour l'évaluation }}

<h1 class="mb-8 text-3xl font-light leading-snug tracking-tight text-g1 sm:text-5xl sm:leading-snug"> Les plus belles
  randonnées du Tarn </h1>

<div class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
  {{!-- Insérer ici le code pour afficher les randonnées --}}
</div>